<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tiny Url</title>
</head>
<body>
<a href="{% url 'tinyurl:create' %}">Create new tiny url</a>
{% if most_frequently_used %}
    <table>
        <tr>
            <th>original url</th>
            <th>tiny url</th>
            <th>number of uses</th>
        </tr>
        <ul>
            {% for myurl in most_frequently_used %}
                <li><tr>
                    <td><a href="{% url 'tinyurl:detail' myurl.id %}">{{ myurl.original_url }}</a></td>
                    <td><a href="{% url 'tinyurl:detail' myurl.id %}">{{ myurl.get_tiny_url }}</a></td>
                    <td>{{ myurl.num_of_uses }}</td>
                </tr></li>
            {% endfor %}
        </ul>
    </table>
{% else %}
    <p>No tiny url has been added.</p>
{% endif %}
</body>
</html>
